body {
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Crafty Girls', cursive;
}
header {
    text-align: center;
}
.burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.burger-ingredients {
    font-size: 18px;
    margin: 0 50px 0 0;
}

ul {
    list-style: none;
}

.burger-picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 0;
    margin: 0 0 0 50px;
}

.bun-1-show {
    width: 250px;
    height: 70px;
    border-radius: 70px 70px 3px 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d8903e), to(#e6b884));
    background-image: -webkit-linear-gradient(top, #b17633, #d8903e, #e6b884);
    background-image: -moz-linear-gradient(top, #b17633, #d8903e, #e6b884);
    background-image: linear-gradient(to bottom, #b17633, #d8903e, #e6b884);
}

.ketchup-show {
    width: 250px;
    height: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a50f0f), to(#e21414));
    background-image: -webkit-linear-gradient(top, #CD2C14, #67160A);
    background-image: -moz-linear-gradient(top, #CD2C14, #67160A);
    background-image: linear-gradient(to bottom, #a50f0f, #e21414);
    border-radius: 2px;
}

.pickles {
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;

}

.pickle-show {
    width: 60px;
    height: 15px;
    background-image: -webkit-gradient(circle, #827316, #47380d);
    background-image: -webkit-radial-gradient(#827316, #47380d);
    background-image: -moz-radial-gradient(#827316, #47380d);
    background-image: radial-gradient( #827316, #47380d);
    border-radius: 2px;
}

.cheese-show {
    width: 250px;
    height: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7dc56), to(#fad002));
    background-image: -webkit-linear-gradient(top, #f7dc56, #fad002);
    background-image: -moz-linear-gradient(top, #f7dc56, #fad002);
    background-image: linear-gradient(to bottom, #f7dc56, #fad002);
    border-radius: 2px;
}

.meat-show {
    width: 255px;
    height: 35px;
    background-image: -webkit-gradient(circle, #5b2608, #431c06);
    background-image: -webkit-radial-gradient(#5b2608, #431c06);
    background-image: -moz-radial-gradient(#5b2608, #431c06);
    background-image: radial-gradient(#5b2608, #431c06);
    border-radius: 12px;
}

.onions {
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;

}

.onion-show {
    width: 90px;
    height: 12px;
    background-color: #fdf1cb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fdf1cb));
    background-image: -webkit-linear-gradient(top, #fff, #fdf1cb);
    background-image: -moz-linear-gradient(top, #fff, #fdf1cb);
    background-image: linear-gradient(to bottom, #fff, #fdf1cb);
    border-radius: 2px;
}

.salad-show {
    width: 250px;
    height: 10px;
    background-image: -webkit-gradient(circle, #117000, #169000);
    background-image: -webkit-radial-gradient(#117000, #169000);
    background-image: -moz-radial-gradient(#117000, #169000);
    background-image: radial-gradient(#117000, #169000);
    border-radius: 2px;
}


.bun-2-show {
    width: 250px;
    height: 30px;
   background-image: -webkit-gradient(linear, left bottom, left top, from(#d8903e), to(#e6b884));
    background-image: -webkit-linear-gradient(bottom, #b17633, #d8903e, #e6b884);
    background-image: -moz-linear-gradient(bottom, #b17633, #d8903e, #e6b884);
    background-image: -moz-linear-gradient(bottom, #b17633, #d8903e, #e6b884);
    background-image: linear-gradient(to top, #b17633, #d8903e, #e6b884);
    border-radius: 3px 3px 16px 16px;
}
